// .calendar

.calendar{
  position: relative;
  &::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: $border-base;
    @media(max-width: $tableWidth) {
      display: none;
    }
  }

  // .calendar-item
  &-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media(max-width: $tableWidth) {
      flex-wrap: wrap;
      margin-bottom: 48px;
      &:last-child{
        margin-bottom: 0;
      }
    }
    &:last-child{
      @media(min-width: $tableWidth+1){
        .calendar-img{
          margin-bottom: 0;
        }
      }
    }

    position: relative;

    &::after{
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 115px;
      height: 6px;
      transform: translateY(-50%);
      background-color: $border-base;
      @media(max-width: $smDesktopWidth) {
        width: 52px;
        height: 2px;
      }
      @media(max-width: $tableWidth) {
        display: none;
      }
    }
    // .calendar-item--left-after
    &--left-after{
      & .calendar-info{
        margin-left: 0;
        margin-right: auto;
      }
      &::after{
        content: "";
        position: absolute;
        transform: translateY(-50%) translateX(-100%);
      }
    }
  }

  // .calendar-img
  &-img{
    width: 100%;
    max-width:470px;
    flex: 470px;
    height: 470px;
    margin-bottom: 70px;
    @media(max-width: $smDesktopWidth) {
      max-width: calc(50% - 84px);
      flex: calc(50% - 84px);
      height: calc((50vw - 116px) * 1.04);
    }
    @media(max-width: $tableWidth) {
      height: calc((100vw - 32px) / 1.03);
      @include flexCol-100;
      order: 0;
      margin-bottom: 24px;
    }
    
    // .calendar-img__item
    &__item{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  // .calendar-info
  &-info{
    width: 100%;
    max-width:370px;
    flex: 370px;
    margin-left: auto;
    @media(max-width: $smDesktopWidth) {
      max-width: calc(50% - 84px);
      flex: calc(50% - 84px);
    }
    @media(max-width: $tableWidth) {
      @include flexCol-100;
      order: 1;
    }
    // .calendar-info__wrap
    &__wrap{
      display: flex;
      align-items: center;
      margin-bottom: 12px;

      & .separator{
        margin: 0 20px;
        @media(max-width: $smDesktopWidth) {
          margin: 0 5px;
        }
      }
    }
    // .calendar-info__date
    &__date{
      display: inline-flex;
      align-items: center;
      // .calendar-info__date-main
      &-main{
        margin-right: 5px;
        @media(max-width: $smDesktopWidth) {
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
        }
        @media(max-width: $tableWidth) {
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
        }
      }

      // .calendar-info__date-sec
      &-sec{
        word-spacing: 100000px;
        @media(max-width: $smDesktopWidth) {
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          word-spacing: normal;
        }
        @media(max-width: $tableWidth) {
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
        }
      }
    }
    // .calendar-info__title
    &__title{
      margin-bottom: 12px;
    }

    // .calendar-info__txt
    &__txt{
      margin-bottom: 12px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  
}