// .card
.cards{

  @include flexRow;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -20px;
    margin-bottom: -20px;
  @media(max-width: $smDesktopWidth) {
    margin-left: -10px;
    margin-right: -10px;
  }

  // .cards-wrap
  &-wrap{
    margin-bottom: 48px;
    @media(max-width: $smDesktopWidth) {
      margin-bottom: 32px;
    }
    @media(max-width: $tableWidth) {
      margin-bottom: 24px;
    }

  }
 
}
.card{

  @include flexCol-33;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  @media(max-width: $smDesktopWidth) {
    padding-left: 10px;
    padding-right: 10px;
    @include flexCol-50;
  }
  @media(max-width: $smTableWidth) {
    @include flexCol-100;
  }

  

  // .card__img
  &__img{

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 23px;
    width: 100%;
    position: relative;

    // .card__img--xl
    &--xl{
      height: 320px;
    }

    // .card__img--lg
    &--lg{
      height: 232px;
      @media(max-width: $smDesktopWidth) {
        height: calc((50vw - 48px)/ 1.45);
      }
      @media(max-width: $smTableWidth) {
        height: calc((100vw - 48px)/ 1.8);
      }
      @media(max-width: $phoneWidth) {
        height: 232px;
      }
    }

  }

  // .card__info
  &__info{

    // .card__info-date
    &-date{
      display: inline-block;
      margin-bottom: 8px;
    }

    // .card__info-title
    &-title{
      margin-bottom: 16px;
      // .card__info-title.title-nr
      &.title-nr{
        @media(max-width: $tableWidth) {
          font-size: 24px;
          line-height: 32px;
        }
      }
    }
  }
}

.cat-type{
  padding: 4px 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $primary-color;
  border-radius: 2px;

  position: absolute;
  left: 24px;
  top: 0;
  transform: translateY(-50%);
}