// .news

.news{

  // .news-title
  &-title{
    margin-bottom: 56px;
    @media(max-width: $smDesktopWidth) {
      margin-bottom: 48px;
    }
    @media(max-width: $tableWidth) {
      margin-bottom: 29px;
    }
  }

  // .news-filter
  &-filter{
    margin-bottom: 56px;
  }
}